.book {
  position: relative;
  border: 1px dotted lightgray;
  height: 80px;
  display: flex;
  margin-top: 18px;
  justify-content: center;
  transition: opacity 0.5s;
  transition: height 0.5s;
  background-color: white
}

.book img {
  min-width: 100%;
  height: 100%;
  object-fit: none;
}

.book:hover {
  height: 200px;
}

.button {
  position: absolute;
  bottom: 0;
  opacity: 30%;
  transition: opacity 0.08s ease-in-out;
}

.button:hover {
  opacity: 95%
}
