.result {
  margin: 32px;
  text-align: center;
}

.result h2 {
  font-size: 1.8rem;
}

.top {
  align-items: center;
  margin: auto 14px;
  display: flex;
}

.top img {
  margin: 1rem;
}

.top p {
  max-height: 300px;
  overflow: auto;
  font-size: 0.8rem;
}

.bottom {
  text-align: end;
}

.form-controls {
  display: flex;
  flex-direction: column;
  margin: 12px 0;
  margin-left: 40%;
}

.form-controls input {
  margin: 8px 0;
  border: 1px lightgray solid;
  border-radius: 4px;
  padding: 0.2rem;
  text-align: end;
}

.form-controls label {
  margin: 2px 0;
  font-size: 0.9rem;
  font-family: sans-serif;
}
