.form {
  margin: 20px auto;
  padding: 24px;
  background: rgb(141, 141, 141);
  border-radius: 24px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form label {
  font-weight: bold;
  margin-bottom: 1rem;
}

.form input {
  width: 16rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  font: inherit;
  margin-right: 0.5rem;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #2c962c;
  border: 1px solid #2c962c;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #30a830;
  border-color: #30a830;
}

button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: #ccc;
  border-color: #ccc;
  color: #292929;
  cursor: not-allowed
}

.error-text {
  color: #c21717;
}
