body {
  background: rgb(32, 32, 32);
}

.app {
  text-align: center;
  margin: 0 auto;
  background: rgb(59, 59, 59);
  height: 95vh;
  width: 95vh;
  border-radius: 32px;
  color: rgb(233, 233, 233);
  font-family: sans-serif;
}

.app h1 {
  margin: auto;
  padding: 32px;
  border-bottom: 2px solid lightgray;
}
