body {
  background: rgb(210, 228, 189);
}

.app {
  text-align: center;
  margin: 0 auto;
  margin-top: 18px;
  background: rgb(57, 61, 51);
  height: 95vh;
  width: 95vh;
  border-radius: 24px;
  color: rgb(233, 233, 233);
  font-family: sans-serif;
}

.app h1 {
  margin: auto;
  padding: 32px;
  border-bottom: 2px solid lightgray;
}
